<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-imooc1:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_imooc1_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-imooc/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-imooc" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="junit-4.10" />
          <element id="library" level="project" name="spring" />
          <element id="library" level="project" name="commons-logging-1.1" />
          <element id="library" level="project" name="javax.inject" />
          <element id="library" level="project" name="aspect" />
        </element>
      </element>
    </root>
  </artifact>
</component>